@model Configs
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<section class="contact-section">
    <div class="auto-container">
        <div class="sec-title text-center">
            <h2>تواصل معنا</h2>
            <div class="separator"><span class="fas fa-headset"></span></div>
        </div>

        <div class="contact-info">
            <div class="row clearfix">
                <div class="image-column col-lg-8 col-md-12 col-sm-12">
                    <figure>
                        <img src="~/assets/img/contact.png" style="width:60%;height:60%" />
                    </figure>
                </div>

                <div class="info-column col-lg-4 col-md-12 col-sm-12 text-right">
                    <h3>معلومات التواصل</h3>
                    <ul>
                        <li>
                            <span class="icon flaticon-placeholder"></span>
                            <p><strong>العنوان </strong><br>@Model.address.</p>
                        </li>

                        <li>
                            <span class="icon flaticon-phone"></span>
                            <p><strong>رقم الجوال  </strong> <a href="https://wa.me/@Model.Mobile1" target="_blank">@Model.Mobile1</a>  -  <a href="https://wa.me/@Model.Mobile2" target="_blank">@Model.Mobile2</a></p>
                            <p><a href="https://mail.google.com/mail/?view=cm&fs=1&to=@Model.Email" target="_blank">@Model.Email</a>   <strong>الايميل  </strong></p>
                        </li>

                        <li>

                            <span class="icon flaticon-stopwatch"></span>
                            <p><strong>وقت العمل </strong><br>من @Model.WorkFrom صباحا وحتى @Model.WorkTo مساء</p>
                        </li>
                        <li>

                            <span class="icon fas fa-money-check-alt" style="margin-top:14%;"></span>
                            <p><img src="~/Home/images/background/b1.jpg" /></p>

                        </li>
                        <li>

                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-info w-100" data-toggle="modal" data-target="#exampleModalCenter">
                                عــرض تفاصيل الحساب البنكي
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">مصـرف الراجحـي</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <b>مؤسسة سوق المواشي للتجارة</b> <br />
                                            <br /> <b> حساب رقم </b> 209608014114119
                                            <br />SA1280000209608014114119 <b> ايبان </b>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">إغــلاق</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section -->
