@model IEnumerable<HaragApp.Models.City>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="container">


        <h1 class="mt-4 text-center">كل المــدن</h1>

        <p>
            <a asp-action="Create" class="btn w-25 btn-info text-center mb-3">اضافــة مدينـة</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        اسم المدينــة
                    </th>
                    <th>
                        خط الطــول
                    </th>
                    <th>
                        خط العــرض
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CityName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Langtude)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Lantitude)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.CityID" class="btn btn-success">تعديــل</a> |
                            <a asp-action="Delete" asp-route-id="@item.CityID" class="btn btn-danger">حــذف</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>