@model HaragApp.ViewModels.AdsImagesVm
@{
	Layout = "~/Views/Shared/_LayoutHome.cshtml";
	<style>
		input[type="file"] {
			color: transparent;
		}

	</style>
}



<!--Page Title-->
<section class="page-title" style="background-image:url(@ViewBag.SliderImage);">
	<div class="auto-container">
		<div class="inner-container clearfix">
			<h1>إضافة إعلان </h1>
			
		</div>
	</div>
</section>
<!--End Page Title-->
<!--Login Section-->

<section class="login-section">
	<div class="auto-container">
		<div class="row clearfix rtl-dir">
		 
			<div class="column col-lg-12 col-md-12 col-sm-12 ">
				<!-- Login Form -->
				<h2>إضافه إعلان  </h2>
				<div class="login-form text-right">
					<!--Login Form-->
					<form asp-action="Create" asp-controller="Advertisments" method="post" id="createform">
						<div class="form-group">
							<label>الاسم   </label>
							<input  class="form-control" asp-for="Title" placeholder="الاسم" required>
						</div>

						<div class="form-group">
							<label>المدينه</label>
							<select class="form-control h-25" asp-items="@ViewBag.CityID as SelectList" asp-for="CityID" required>
								<option value="-1">اختر مدينه</option>
							</select>

						</div>
						<div class="form-group">
							<label>الصنف</label>
							<select class="form-control h-25" asp-items="@ViewBag.CategoryID as SelectList" asp-for="CategoryID" required>
								<option value="-1">اختر صنف</option>
							</select>

						</div>
						<div class="form-group">
							<label for="exampleFormControlTextarea1">التفاصيل</label>
							<textarea class="form-control" id="exampleFormControlTextarea1" rows="3" type="text" asp-for="Description" required></textarea>
						</div>
						<div class="form-group">

							<input type="checkbox" id="vehicle1" asp-for="IsPact" required>
							<input type="checkbox" id="vehicle1" asp-for="IsPaid" style="display: none">
							<label for="vehicle1">اتعهد بدفع 15ريال فى كل راس يتم بيعه عن طريق الموقع</label><br>

						</div>
                        
						<div class="row justify-content-center">
							<div class="col-lg-2 col-md-6 col-sm-12">
								<label>الصورة الاولى</label>
								<input type="file" required id="files1" name="files" class="btn btn-block" >
								<img id="SelectedImage1" src="~/Home/images/default.png" class="img-thumbnail align-content-center" style="width:100px;height:100px;" /><img id="loader1" src="~/assets/img/lodingLoader.gif" style="width:30px;height:30px;display:none" />
							</div>

							<div class="col-lg-2 col-md-6 col-sm-12">
								<label>الصورة الثانيه</label>
								<input type="file" id="files2" name="files" required class="btn btn-block">
								<img id="SelectedImage2" src="~/Home/images/default.png" class="img-thumbnail align-content-center" style="width:100px;height:100px;" /><img id="loader2" src="~/assets/img/lodingLoader.gif" style="width:30px;height:30px;display:none" />
							</div>
							<div class="col-lg-2 col-md-6 col-sm-12">
								<label>الصورة الثالثه</label>
								<input type="file" id="files3" name="files" required class="btn btn-block">
								<img id="SelectedImage3" src="~/Home/images/default.png" class="img-thumbnail align-content-center" style="width:100px;height:100px;" /><img id="loader3" src="~/assets/img/lodingLoader.gif" style="width:30px;height:30px;display:none" />
							</div>
							<div class="col-lg-2 col-md-6 col-sm-12">
								<label>الصورة الرابعه</label>
								<input type="file" id="files4" name="files" required class="btn btn-block">
								<img id="SelectedImage4" src="~/Home/images/default.png" class="img-thumbnail align-content-center" style="width:100px;height:100px;" /><img id="loader4" src="~/assets/img/lodingLoader.gif" style="width:30px;height:30px;display:none" />
							</div>
							<div class="col-lg-2 col-md-6 col-sm-12">
								<label>الصورةالخامسه</label>
								<input type="file" id="files5" name="files" required class="btn btn-block">
								<img id="SelectedImage5" src="~/Home/images/default.png" class="img-thumbnail align-content-center" style="width:100px;height:100px;" /><img id="loader5" src="~/assets/img/lodingLoader.gif" style="width:30px;height:30px;display:none"/>
							</div>
						</div>


						<br />
						<br />
						<br />

						<div class="clearfix">
							<div class="pull-left">
								<div class="form-group text-right">
									<button class="theme-btn btn-style-one" type="button" name="submit-form" id="save">تأكيــد </button>
								</div>
							</div>
							
						</div>
						<input id="ImageUrl1" name="ImageUrl1" type="hidden" value="/Home/images/default.png" />
						<input id="ImageUrl2" name="ImageUrl2" type="hidden" value="/Home/images/default.png" />
						<input id="ImageUrl3" name="ImageUrl3" type="hidden" value="/Home/images/default.png" />
						<input id="ImageUrl4" name="ImageUrl4" type="hidden" value="/Home/images/default.png" />
						<input id="ImageUrl5" name="ImageUrl5" type="hidden" value="/Home/images/default.png"  />
					</form>
				</div>
			</div>


		</div>
	</div>
</section>



@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

	<script>
		$("#files1").change(function () {
			$("#loader1").show();
			
			  var element = this;

			  var formData = new FormData();

		 var totalFiles = element.files.length;

			  for (var i = 0; i < totalFiles; i++) {
				var file = element.files[i];
				formData.append("Photo", file);
			  }

				$.ajax({
					type: 'POST',
					url: '@Url.Action("UploadImage", "Advertisments")',
					dataType: 'json',
					data: formData,
					contentType: false,
					processData: false,
					success: function (response) {
						$("#ImageUrl1").val(response.image);
						$("#SelectedImage1").attr("src", response.image);
						$("#loader1").hide();
                       
					},
					error: function () {
						alert("FAIL");
					}
				})
				//.done(function (response) {

				//        alert(response.ImageURL)
				//       // $("#ImageUrl").val(response.ImageURL);
				//      //  $("#SelectedImage").attr("src", response.ImageURL);

				// })
				//.fail(function (XMLHttpRequest, textStatus, errorThrown) {
				//    	alert("FAIL");
				//});
	 });
		$("#files2").change(function () {
		 $("#loader2").show();
			  var element = this;

			  var formData = new FormData();

		 var totalFiles = element.files.length;

			  for (var i = 0; i < totalFiles; i++) {
				var file = element.files[i];
				formData.append("Photo", file);
			  }

				$.ajax({
					type: 'POST',
					url: '@Url.Action("UploadImage", "Advertisments")',
					dataType: 'json',
					data: formData,
					contentType: false,
					processData: false,
					success: function (response) {
						$("#ImageUrl2").val(response.image);
						$("#SelectedImage2").attr("src", response.image);
						$("#loader2").hide();
					},
					error: function () {
						alert("FAIL");
					}
				})
				//.done(function (response) {

				//        alert(response.ImageURL)
				//       // $("#ImageUrl").val(response.ImageURL);
				//      //  $("#SelectedImage").attr("src", response.ImageURL);

				// })
				//.fail(function (XMLHttpRequest, textStatus, errorThrown) {
				//    	alert("FAIL");
				//});
	 });
		$("#files3").change(function () {
		 $("#loader3").show();
			  var element = this;

			  var formData = new FormData();

		 var totalFiles = element.files.length;

			  for (var i = 0; i < totalFiles; i++) {
				var file = element.files[i];
				formData.append("Photo", file);
			  }

				$.ajax({
					type: 'POST',
					url: '@Url.Action("UploadImage", "Advertisments")',
					dataType: 'json',
					data: formData,
					contentType: false,
					processData: false,
					success: function (response) {
						$("#ImageUrl3").val(response.image);
						$("#SelectedImage3").attr("src", response.image);
						$("#loader3").hide();
					},
					error: function () {
						alert("FAIL");
					}
				})
				//.done(function (response) {

				//        alert(response.ImageURL)
				//       // $("#ImageUrl").val(response.ImageURL);
				//      //  $("#SelectedImage").attr("src", response.ImageURL);

				// })
				//.fail(function (XMLHttpRequest, textStatus, errorThrown) {
				//    	alert("FAIL");
				//});
	});
		$("#files4").change(function () {
		 $("#loader4").show();
			  var element = this;

			  var formData = new FormData();

		 var totalFiles = element.files.length;

			  for (var i = 0; i < totalFiles; i++) {
				var file = element.files[i];
				formData.append("Photo", file);
			  }

				$.ajax({
					type: 'POST',
					url: '@Url.Action("UploadImage", "Advertisments")',
					dataType: 'json',
					data: formData,
					contentType: false,
					processData: false,
					success: function (response) {
						$("#ImageUrl4").val(response.image);
						$("#SelectedImage4").attr("src", response.image);
						$("#loader4").hide();
					},
					error: function () {
						alert("FAIL");
					}
				})
				//.done(function (response) {

				//        alert(response.ImageURL)
				//       // $("#ImageUrl").val(response.ImageURL);
				//      //  $("#SelectedImage").attr("src", response.ImageURL);

				// })
				//.fail(function (XMLHttpRequest, textStatus, errorThrown) {
				//    	alert("FAIL");
				//});
	});
		$("#files5").change(function () {
		 $("#loader5").show();
			  var element = this;

			  var formData = new FormData();

		 var totalFiles = element.files.length;

			  for (var i = 0; i < totalFiles; i++) {
				var file = element.files[i];
				formData.append("Photo", file);
			  }

				$.ajax({
					type: 'POST',
					url: '@Url.Action("UploadImage", "Advertisments")',
					dataType: 'json',
					data: formData,
					contentType: false,
					processData: false,
					success: function (response) {
						$("#ImageUrl5").val(response.image);
						$("#SelectedImage5").attr("src", response.image);
						$("#loader5").hide();
					},
					error: function () {
						alert("FAIL");
					}
				})
				//.done(function (response) {

				//        alert(response.ImageURL)
				//       // $("#ImageUrl").val(response.ImageURL);
				//      //  $("#SelectedImage").attr("src", response.ImageURL);

				// })
				//.fail(function (XMLHttpRequest, textStatus, errorThrown) {
				//    	alert("FAIL");
				//});
	 });


		$("#save").click(function () {			//if ($("#ImageUrl1").val() != "" && $("#ImageUrl2").val() != "" && $("#ImageUrl3").val() != "" && $("#ImageUrl4").val() != "" && $("#ImageUrl5").val() != "") {			//	$("#createform").submit();
			//} else {			//	alert("Please wait files are still UPLOADING !!")
			//}            if ($("#loader1").is(":hidden") && $("#loader2").is(":hidden") && $("#loader3").is(":hidden")&& $("#loader4").is(":hidden")&& $("#loader5").is(":hidden")) {
				
				$("#createform").submit();
            } else {
				alert("برجاء الانتظار حتى يتم تحميل الصور")
               
            }			});

	</script>
}
