@model HaragApp.Models.Advertisment
@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}



<!--Page Title-->
<section class="page-title" style="background-image:url(/Home/images/background/8.jpg);">
    <div class="auto-container">
        <div class="inner-container clearfix">
            <h1>إضافة إعلان </h1>
            <ul class="bread-crumb clearfix">
                <li><a href="index.html">الرئيسيه</a></li>
                <li>إضافة إعلان </li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->
<!--Login Section-->
<section class="login-section">
    <div class="auto-container">
        <div class="row clearfix rtl-dir">
            <!--<div class="column col-lg-6 col-md-12 col-sm-12 ">-->
            <!-- Login Form -->
            <!--<h2>إضافه اعلان مميز  </h2>
            <div class="login-form text-right">-->
            <!--Login Form-->
            <!--<form>
                    <div class="form-group">
                        <label>الاسم   </label>
                        <input type="text" name="username" placeholder="الاسم  " required>
                    </div>
                    <div class="form-group">
                        <label>المدينه   </label>
                        <select class="form-control" id="">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>

                    </div>
                    <div class="form-group">
                        <label>القسم   </label>
                        <select class="form-control" id="">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>

                    </div>
                    <div class="form-group ">
                        <label>  الصورة الرئيسية</label>
                        <input type="file" name="image1" required class="col-md-12">
                    </div>
                    <div class="form-group ">
                        <label>  الصورة الاولى</label>
                        <input type="file" name="image1" required class="col-md-12">
                    </div>
                    <div class="form-group ">
                        <label>  الصورة الثانيه</label>
                        <input type="file" name="image1" required class="col-md-12">
                    </div>
                    <div class="form-group ">
                        <label>  الصورة الثالثه</label>
                        <input type="file" name="image1" required class="col-md-12">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1"> تفاصيل الاعلان</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                    <div class="form-group ">
                        <label>سعر الاعلان </label>
                        <p class="col-md-2" style="display: inline-block;"><b>40 ريال *</b></p>
                        <input type="text" name="text" placeholder="عدد الايام   " required class="col-md-3" style="display: inline-block;">
                    </div>
                    <div class="form-group ">
                        <label> سعر الاعلان 7 ايام * 40 ريال  </label>
                        <p class="col-md-2" style="display: inline-block;"><b>350 ريال </b></p>
                    </div>
                    <div class="clearfix">
                        <div class="pull-left">
                            <div class="form-group text-right">
                                <button class="theme-btn btn-style-one" type="submit" name="submit-form">تأكيد </button>
                            </div>
                        </div>

                    </div>


                </form>
            </div>-->
            <!--End Login Form -->
            <!--</div>-->
            <div class="column col-lg-12 col-md-12 col-sm-12 ">
                <!-- Login Form -->
                <h2>إضافه اعلان عادي </h2>
                <div class="login-form text-right">
                    <!--Login Form-->
                    <form asp-action="Create" method="post">
                        <div class="form-group">
                            <label>الاسم   </label>
                            <input type="text" asp-for="Title" placeholder="الاسم  " required>
                        </div>

                        <div class="form-group">
                            <label>المدينه</label>
                            <select class="form-control" asp-items="@ViewBag.CityID as SelectList" asp-for="CityID">
                                <option value="-1">اختر مدينه</option>
                            </select>

                        </div>
                        <div class="form-group">
                            <label>الصنف</label>
                            <select class="form-control" asp-items="@ViewBag.CategoryID as SelectList" asp-for="CategoryID">
                                <option value="-1">اختر صنف</option>
                            </select>

                        </div>
                        @*<div class="form-group">
                            <label>إضافه رقم الجوال   </label>
                            <input asp-for="User.PhoneNumber" placeholder="رقم الجوال  " required>
                        </div>*@
                        @*<div class="clearfix">
                                <div class="pull-right">
                                    <div class="form-group remember">
                                        <input type="checkbox" name="shipping-option" id="account-option-2">&nbsp; <label for="account-option-2">إظهار رقم الجوال</label>
                                    </div>
                                </div>
                            </div>*@
                        <div class="form-group">
                            <label>  الصورة الرئيسية</label>
                            <input type="file" required class="col-md-12" id="files1" name="files">
                            <img id="SelectedImage1" class="img-thumbnail" style="width:100px;height:70px;" />
                        </div>
                        <div class="form-group ">
                            <label>  الصورة الاولى</label>
                            <input type="file" id="files2" name="files" required class="col-md-12">
                            <img id="SelectedImage2" class="img-thumbnail" style="width:100px;height:70px;" />
                        </div>
                        <div class="form-group ">
                            <label>  الصورة الثانيه</label>
                            <input type="file" id="files3" name="files" required class="col-md-12 files">
                            <img id="SelectedImage3" class="img-thumbnail" style="width:100px;height:70px;" />
                        </div>
                        <div class="form-group ">
                            <label>  الصورة الثالثه</label>
                            <input type="file" id="files4" name="files" required class="col-md-12 files">
                            <img id="SelectedImage4" class="img-thumbnail" style="width:100px;height:70px;" />
                        </div>

                        <div class="form-group ">
                            <label>  الصورة الرابعه</label>
                            <input type="file" id="files5" name="files" required class="col-md-12 files">
                            <img id="SelectedImage5" class="img-thumbnail" style="width:100px;height:70px;" />
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1"> تفاصيل الاعلان</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>


                        <div class="clearfix">
                            <div class="pull-left">
                                <div class="form-group text-right">
                                    <button class="theme-btn btn-style-one" type="submit" name="submit-form">تأكيد </button>
                                </div>
                            </div>

                        </div>
                        <input id="ImageUrl1" name="ImageUrl1" type="hidden" />
                        <input id="ImageUrl2" name="ImageUrl2" type="hidden" />
                        <input id="ImageUrl3" name="ImageUrl3" type="hidden" />
                        <input id="ImageUrl4" name="ImageUrl4" type="hidden" />
                        <input id="ImageUrl5" name="ImageUrl5" type="hidden" />
                    </form>
                </div>
                <!--End Login Form -->
            </div>


        </div>
    </div>
</section>
<!--End Login  Section-->
<!-- count Section -->
<section class="subscribe-section">
    <div class="auto-container">
        <div class="inner-container clearfix">
            <h3>يمكنك القيام بحساب المموله من هنا </h3>
            <a href="#" class="call-btn">ابدا الان</a>
        </div>
    </div>
</section>


@section Scripts {
    @*@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}*@

    <script>
     $("#files1").change(function () {
		      var element = this;

		      var formData = new FormData();

         var totalFiles = element.files.length;

		      for (var i = 0; i < totalFiles; i++) {
		      	var file = element.files[i];
		      	formData.append("Photo", file);
		      }

		        $.ajax({
		        	type: 'POST',
		        	url: '@Url.Action("UploadImage", "Advertisments")',
		        	dataType: 'json',
		        	data: formData,
		        	contentType: false,
                    processData: false,
                    success: function (response) {
                        $("#ImageUrl1").val(response.image);
                       $("#SelectedImage1").attr("src", response.image);
                    },
                    error: function () {
                        alert("FAIL");
                    }
		        })
                //.done(function (response) {

                //        alert(response.ImageURL)
                //       // $("#ImageUrl").val(response.ImageURL);
                //      //  $("#SelectedImage").attr("src", response.ImageURL);

                // })
                //.fail(function (XMLHttpRequest, textStatus, errorThrown) {
                //    	alert("FAIL");
                //});
     });
     $("#files2").change(function () {
		      var element = this;

		      var formData = new FormData();

         var totalFiles = element.files.length;

		      for (var i = 0; i < totalFiles; i++) {
		      	var file = element.files[i];
		      	formData.append("Photo", file);
		      }

		        $.ajax({
		        	type: 'POST',
		        	url: '@Url.Action("UploadImage", "Advertisments")',
		        	dataType: 'json',
		        	data: formData,
		        	contentType: false,
                    processData: false,
                    success: function (response) {
                        $("#ImageUrl2").val(response.image);
                       $("#SelectedImage2").attr("src", response.image);
                    },
                    error: function () {
                        alert("FAIL");
                    }
		        })
                //.done(function (response) {

                //        alert(response.ImageURL)
                //       // $("#ImageUrl").val(response.ImageURL);
                //      //  $("#SelectedImage").attr("src", response.ImageURL);

                // })
                //.fail(function (XMLHttpRequest, textStatus, errorThrown) {
                //    	alert("FAIL");
                //});
     });
     $("#files3").change(function () {
		      var element = this;

		      var formData = new FormData();

         var totalFiles = element.files.length;

		      for (var i = 0; i < totalFiles; i++) {
		      	var file = element.files[i];
		      	formData.append("Photo", file);
		      }

		        $.ajax({
		        	type: 'POST',
		        	url: '@Url.Action("UploadImage", "Advertisments")',
		        	dataType: 'json',
		        	data: formData,
		        	contentType: false,
                    processData: false,
                    success: function (response) {
                        $("#ImageUrl3").val(response.image);
                       $("#SelectedImage3").attr("src", response.image);
                    },
                    error: function () {
                        alert("FAIL");
                    }
		        })
                //.done(function (response) {

                //        alert(response.ImageURL)
                //       // $("#ImageUrl").val(response.ImageURL);
                //      //  $("#SelectedImage").attr("src", response.ImageURL);

                // })
                //.fail(function (XMLHttpRequest, textStatus, errorThrown) {
                //    	alert("FAIL");
                //});
    });
     $("#files4").change(function () {
		      var element = this;

		      var formData = new FormData();

         var totalFiles = element.files.length;

		      for (var i = 0; i < totalFiles; i++) {
		      	var file = element.files[i];
		      	formData.append("Photo", file);
		      }

		        $.ajax({
		        	type: 'POST',
		        	url: '@Url.Action("UploadImage", "Advertisments")',
		        	dataType: 'json',
		        	data: formData,
		        	contentType: false,
                    processData: false,
                    success: function (response) {
                        $("#ImageUrl4").val(response.image);
                       $("#SelectedImage4").attr("src", response.image);
                    },
                    error: function () {
                        alert("FAIL");
                    }
		        })
                //.done(function (response) {

                //        alert(response.ImageURL)
                //       // $("#ImageUrl").val(response.ImageURL);
                //      //  $("#SelectedImage").attr("src", response.ImageURL);

                // })
                //.fail(function (XMLHttpRequest, textStatus, errorThrown) {
                //    	alert("FAIL");
                //});
    });
     $("#files5").change(function () {
		      var element = this;

		      var formData = new FormData();

         var totalFiles = element.files.length;

		      for (var i = 0; i < totalFiles; i++) {
		      	var file = element.files[i];
		      	formData.append("Photo", file);
		      }

		        $.ajax({
		        	type: 'POST',
		        	url: '@Url.Action("UploadImage", "Advertisments")',
		        	dataType: 'json',
		        	data: formData,
		        	contentType: false,
                    processData: false,
                    success: function (response) {
                        $("#ImageUrl5").val(response.image);
                       $("#SelectedImage5").attr("src", response.image);
                    },
                    error: function () {
                        alert("FAIL");
                    }
		        })
                //.done(function (response) {

                //        alert(response.ImageURL)
                //       // $("#ImageUrl").val(response.ImageURL);
                //      //  $("#SelectedImage").attr("src", response.ImageURL);

                // })
                //.fail(function (XMLHttpRequest, textStatus, errorThrown) {
                //    	alert("FAIL");
                //});
	    });

    </script>
}
