@model HaragApp.Models.Advertisment
@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";



}
@section Styles{

    


}





<!--Page Title-->
<section class="page-title" style="background-image:url(/Home/images/background/8.jpg);">
    <div class="auto-container">
        <div class="inner-container clearfix">
            <h1>تفاصيل الاعلان</h1>
            <ul class="bread-crumb clearfix">
                <li><a href="index.html">الرئيسيه</a></li>
                <li>إضافة إعلان </li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->
<!--Login Section-->
<section class="login-section">
    <div class="auto-container">
        <div class="row clearfix rtl-dir">

            <div class="column col-lg-12 col-md-12 col-sm-12 ">
                <!-- Login Form -->
                <h2>إضافه اعلان عادي </h2>
                <div class="login-form text-right">
                    
                    <br>

                    <div style="text-align:center">
                        <span class="dot" onclick="currentSlide(1)"></span>
                        <span class="dot" onclick="currentSlide(2)"></span>
                        <span class="dot" onclick="currentSlide(3)"></span>
                    </div>
                    <!--Login Form-->
                    <div>
                        <div class="form-group">
                            <label>الاسم   </label>
                            <input type="text" asp-for="Title" disabled placeholder="الاسم  ">
                        </div>

                        <div class="form-group">
                            <label>المدينه</label>
                            <select class="form-control h-25" disabled asp-items="@ViewBag.CityID as SelectList" asp-for="CityID">
                                <option value="-1">اختر مدينه</option>
                            </select>

                        </div>
                        <div class="form-group">
                            <label>الصنف</label>
                            <select class="form-control h-25" disabled asp-items="@ViewBag.CategoryID as SelectList" asp-for="CategoryID">
                                <option value="-1">اختر صنف</option>
                            </select>

                        </div>

                        <div class="row justify-content-center">
                            <div class="col-lg-2 col-md-6 col-sm-12">
                                <label>الصورة الاولى</label>
                                @if (@Model.AdImages.ElementAt(0).img != null)
                                {

                                    <img id="SelectedImage1" class="img-thumbnail align-content-center" src="@Model.AdImages.ElementAt(0).img" style="width:200px;height:100px;" />
                                }
                            </div>

                            <div class="col-lg-2 col-md-6 col-sm-12">
                                <label>الصورة الثانيه</label>
                                @if (@Model.AdImages.ElementAt(0).img != null)
                                {
                                    <img id="SelectedImage2" class="img-thumbnail align-content-center" src="@Model.AdImages.ElementAt(1).img" style="width:200px;height:100px;" />
                                }
                            </div>
                            <div class="col-lg-2 col-md-6 col-sm-12">
                                <label>الصورة الثالثه</label>
                                @if (@Model.AdImages.ElementAt(0).img != null)
                                {
                                    <img id="SelectedImage3" class="img-thumbnail align-content-center" src="@Model.AdImages.ElementAt(2).img" style="width:200px;height:100px;" />
                                }
                            </div>
                            <div class="col-lg-2 col-md-6 col-sm-12">
                                <label>الصورة الرابعه</label>
                                @if (@Model.AdImages.ElementAt(0).img != null)
                                {
                                    <img id="SelectedImage4" class="img-thumbnail align-content-center" src="@Model.AdImages.ElementAt(3).img" style="width:200px;height:100px;" />
                                }
                            </div>
                            <div class="col-lg-2 col-md-6 col-sm-12">
                                <label>الصورةالخامسه</label>
                                @if (@Model.AdImages.ElementAt(0).img != null)
                                {
                                    <img id="SelectedImage5" class="img-thumbnail align-content-center" src="@Model.AdImages.ElementAt(4).img" style="width:200px;height:100px;" />
                                }
                            </div>
                        </div>

                    </div>
                </div>
                <!--End Login Form -->
            </div>


        </div>
    </div>
</section>
<!--End Login  Section-->



@section Scripts {
    @*@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}*@

    <script>
        var slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("dot");
            if (n > slides.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
        }
    </script>
}
