@model IEnumerable<HaragApp.Models.Advertisment>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnimalCategory)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City.CityID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnimalCategory.CategoryName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AdID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AdID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AdID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
