@model ICollection<HaragApp.ViewModels.favoriteViewModel>
@{
    ViewData["Title"] = "ShowFavourite";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

    <div class="container">
        <h2 class="text-right mt-3 mb-3">المفضلــة</h2>

        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-sm-6 mb-2">
                    <div class="card">
                        <div class="row card-body">
                            <div class="col-md-6 col-sm-12">
                                <h5 class="card-title" style="text-align:right;"><a asp-action="Details" asp-controller="Advertisments" asp-route-id="@item.AdID">@item.Title</a></h5>
                                <p class="card-text mb-2" style="text-align:right;"> المنطقة : @item.CityName</p>
                                <p class="card-text mb-2" style="text-align:right;">الصنف : @item.CategoryName</p>

                            </div>
                            <img class="col-md-6 col-sm-12 img-thumbnail" style="height:200px;width:100%" src="@item.ImageUrl1" alt="sans" />
                        </div>
                        <div style="text-align:right;">
                            <a class="btn btn-danger btn-block" style="text-align:center;" asp-action="DeleteFav" asp-controller="Advertisments" asp-route-id="@item.AdID"> حــذف من المفضلــة</a>
                        </div>
                    </div>
                </div>
            }
        </div>
